In [40]:
#Qmak_Calderdale_FDM_FULL_V1.0.ipynb
##last modified 20230309 

#Builds the Calderdael SUS FDM
#Assumes that the targetdb below exists
#Needs code to build it if it doesn't

#You will need to manually amend the target dataset for this script

library(bigrquery)
library(lubridate) 

# Store the project ID
project_id = "yhcr-prd-phm-bia-core"

sourcedb <-"yhcr-prd-phm-bia-core.CB_STAGING_DATABASE_SUS_Calderdale_FDM_Format"
targetdb <-'yhcr-prd-phm-bia-core.CB_FDM_SUS_Calderdale_V1'
targetdb <-gsub(' ','',targetdb)
print (targetdb)

[1] "yhcr-prd-phm-bia-core.CB_FDM_SUS_Calderdale_V1"

In [44]:
#build care sites just for Warehouse sites

#NOTE - THIS WHOLE SECTION NEEDS WORK

sql1 <-paste('drop table if exists ',targetdb,'.care_site', sep = "")
#sql2<- paste('drop table if exists ' ,targetdb,'.tmp_orgs', sep = "")
#sql3<- paste('drop table if exists ' ,targetdb,'.tmp_orgs2', sep = "")

#make the temp org tables 
#sql4 <-paste('create table ' ,targetdb,'.tmp_orgs as select distinct IDOrganisation from ',sourcedb,'.tbl_SRCode', sep = "")
#sql5 <-paste('insert into ' ,targetdb,'.tmp_orgs select distinct IDOrganisationDoneAt from ',sourcedb,'.tbl_SRCode', sep = "")
#print (sql5)
#sql6 <-paste('insert into ' ,targetdb,'.tmp_orgs select distinct IDOrganisationRegisteredAt from ',sourcedb,'.tbl_SRCode', sep = "")
#sql7 <-paste('insert into ' ,targetdb,'.tmp_orgs select distinct IDOrganisationVisibleTo from ',sourcedb,'.tbl_SRCode', sep = "")
#sql8 <-paste('create table ' ,targetdb,'.tmp_orgs2 as Select distinct IDOrganisation from ' ,targetdb,'.tmp_orgs', sep = "")
#sql9 <-paste('create table ' ,targetdb,'.care_site as select distinct a.* from yhcr-prd-phm-bia-core.CY_FDM_MASTER.care_site a ,',targetdb,'.tmp_orgs2 b where a.care_site_source_value = b.IDOrganisation and a.place_of_service_source_value = \'GP practice site\'', sep = "")
sql9 <-paste('create table ' ,targetdb,'.care_site as select distinct a.* from yhcr-prd-phm-bia-core.CB_FDM_MASTER.care_site a 
              where a.care_site_id = 160710', sep = "")

#print (sql9)
#sql10 <-paste('delete from ' ,targetdb,'.care_site where care_site_id = 236 or care_site_id = 886' , sep = "")

#Now Run them 
tb1 <- bq_project_query(project_id, sql1)
#tb2 <- bq_project_query(project_id, sql2)
#tb3 <- bq_project_query(project_id, sql3)
#tb4 <- bq_project_query(project_id, sql4)
#tb5 <- bq_project_query(project_id, sql5)
#tb6 <- bq_project_query(project_id, sql6)
#tb7 <- bq_project_query(project_id, sql7)
#tb8 <- bq_project_query(project_id, sql8)
tb9 <- bq_project_query(project_id, sql9)
#tb10 <- bq_project_query(project_id, sql10)

print("Done care site")

[1] "Done care site"

In [45]:
#New section to build user table loop 

#Your loop references this table
#You run this to load the list of tables into the dataframe "table"

sql3 <-paste('select distinct table_name  from ' ,sourcedb,'.INFORMATION_SCHEMA.COLUMNS where table_name like \'tbl%\' and column_name = \'person_id\' order by table_name ;', sep = "")
tb3 <- bq_project_query(project_id, sql3)

table <- bq_table_download(tb3)
table 

print("Done builder table")

  table_name
1 tbl_SUS_Calderdale_APC_CM_20170618_To_20220731
2 tbl_SUS_Calderdale_EC_Backward_Compatible_20170701_To_20220731
3 tbl_SUS_Calderdale_Outpatient_20180401_To_20220731

[1] "Done builder table"

In [46]:
#This then loops through the data frame until the end
# uses the two variables table[[i, 1]] and table[[i, 2]]
# in the query

sql4 <-paste('drop table if exists ',targetdb,'.tmp_persons;', sep = "")
tb4 <-bq_project_query(project_id, sql4)


sql5 <-paste('create table ',targetdb,'.tmp_persons 
(person_id int64);', sep = "")
tb5 <-bq_project_query(project_id, sql5)
#print(tb5)


#Loops through all the data tables to build a list of unique person_ids from all of them 

for(i in 1:nrow(table)) 
{
# for-loop over columns
    #print(paste0("Table: ", table[[i, 1]]))
    temp_sql_query  <-paste('insert into ',targetdb,'.tmp_persons select distinct cast(person_id as int64)  from ' ,sourcedb,'.',table[[i, 1]] ,';' , sep = "") 
    temp_queried_table <- bq_project_query(project_id, temp_sql_query)
    temp_table <- bq_table_download(temp_queried_table)
    #print(paste0("done ", temp_table[[1, 1]]))
    #cat("\n")
}
print('Done tmp_persons')

[1] "Done tmp_persons"

In [47]:
#Now build the persons table 

sql11 <-paste('drop table if exists ' ,targetdb,'.person', sep = "")
tb11 <- bq_project_query(project_id, sql11)


sql12 <-paste('create table ' ,targetdb,'.person 
as 
SELECT distinct a.person_id
, gender_concept_id
, year_of_birth
, month_of_birth
, day_of_birth
, birth_datetime
, death_datetime
, race_concept_id
, ethnicity_concept_id
, location_id
, provider_id
, care_site_id
, person_source_value
, gender_source_value
, gender_source_concept_id
, race_source_value
, race_source_concept_id
, ethnicity_source_value
, ethnicity_source_concept_id 
FROM yhcr-prd-phm-bia-core.CB_FDM_MASTER.person a
,',targetdb,'.tmp_persons b where a.person_id =  b.person_id' , sep = "")

tb12 <- bq_project_query(project_id, sql12)
#print(sql12)

print ("person table built")

[1] "person table built"

In [ ]:
#Ensure you have updated the lookup table ie
#sql14 <- "update `yhcr-prd-phm-bia-core.CY_LOOKUPS.tbl_Dataset_ExtractDateRef` set extract_date = '2023-02-07' where DatasetName = 'CB_STAGING_DATABASE_SUS_Calderdale_FDM_Format'"  

#tb14 <- bq_project_query(project_id, sql14)

In [48]:


#This query makes the observation period based on the persons table BUT adds in rules for this data extract.
#This query makes the observation period based on the persons table BUT adds in rules for this data extract.

#Qmak_PrimaryCareObservationPeriod_Part1

sql15 <-paste('drop table if exists ' ,targetdb,'.tmp_Eventdates' , sep = "")
sql16 <-paste('drop table if exists ' ,targetdb,'.tmp_EventdatesValid' , sep = "")
sql17 <-paste('truncate table ' ,targetdb,'.observation_period' , sep = "")

tb15 <-bq_project_query(project_id, sql15)
tb16 <-bq_project_query(project_id, sql16)
tb17 <-bq_project_query(project_id, sql17)

#This just builds a temp table for later use 
sql18 <-paste('create table ',targetdb,'.tmp_Eventdates 
(person_id int64
, EventDate Datetime) ' , sep = "")
tb18 <-bq_project_query(project_id, sql18)

print(" temp event dates built")

[1] " temp event dates built"

In [49]:
#Loop through the user tables
#selecting person_id and date from and date to for each of them.

#start_date_first
for(i in 1:nrow(table)) 
{
# for-loop over columns
    #print(paste0("Table: ", table[[i, 1]]))
    temp_sql_query  <-paste('insert into ',targetdb,'.tmp_Eventdates select distinct cast(person_id as int64) as person_id, ',table[[i, 1]] ,'_start_date from ' ,sourcedb,'.',table[[i, 1]] ,' where person_id is not null;' , sep = "") 
    temp_queried_table <- bq_project_query(project_id, temp_sql_query)
    #temp_table <- bq_table_download(temp_queried_table)
    #print(temp_sql_query)
    #print(paste0("done ", temp_table[[i, 1]]))
    #cat("\n")
}
print('Done start dates')

[1] "Done start dates"

In [50]:
#Now do end date
for(i in 1:nrow(table)) 
{
# for-loop over columns
    #print(paste0("Table: ", table[[i, 1]]))
    temp_sql_query  <-paste('insert into ',targetdb,'.tmp_Eventdates select distinct cast(person_id as int64) as person_id, ',table[[i, 1]] ,'_end_date from ' ,sourcedb,'.',table[[i, 1]] ,' where person_id is not null ;' , sep = "") 
    temp_queried_table <- bq_project_query(project_id, temp_sql_query)
    #temp_table <- bq_table_download(temp_queried_table)
    #print(temp_sql_query)
    #print(paste0("done ", temp_table[[i, 1]]))
    #cat("\n")
}
print('Done end dates')

[1] "Done end dates"

In [51]:

sql24 <-paste('create table ',targetdb,'.tmp_EventdatesValid
as
select distinct a.person_id
,cast(a.EventDate as date) as EventDate
from ',targetdb,'.tmp_Eventdates a ,' 
,targetdb,'.person e 
where e.person_id = a.person_id 
and e.death_datetime is not null 
and a.EventDate >= e.birth_datetime
and a.EventDate <= date_add(e.death_datetime, INTERVAL 42 day) 
and a.EventDate <= (Select extract_date from yhcr-prd-phm-bia-core.CB_LOOKUPS.tbl_Dataset_ExtractDateRef where DatasetName = \'CB_STAGING_DATABASE_WAREHOUSE_FDM_Format\')', sep = "")


#-- BUT this only includes persons with a death datetime
#-- So section below includes those with a null deathdatetime

sql25 <-paste('insert into ',targetdb,'.tmp_EventdatesValid
select distinct a.person_id
, cast(a.EventDate as date) as EventDate
from ',targetdb,'.tmp_Eventdates a
,' ,targetdb,'.person e 
where e.person_id = a.person_id 
and e.death_datetime is null 
and a.EventDate >= e.birth_datetime
and a.EventDate <= (Select extract_date from yhcr-prd-phm-bia-core.CB_LOOKUPS.tbl_Dataset_ExtractDateRef where DatasetName = \'CB_STAGING_DATABASE_WAREHOUSE_FDM_Format\')', sep = "")

print("Temp valid dates built")

#third part pushes these into the observation_period table

sql26 <-paste('insert into ' ,targetdb,'.observation_period
select distinct
ROW_NUMBER() over (Order by person_id) as observation_period_id 
, person_id
, min(EventDate) as observation_period_start_date
, max(EventDate) as observation_period_end_date
,null as period_type_concept_id
from ',targetdb,'.tmp_EventdatesValid
group by person_id', sep = "")

#Finally Run these sql's


tb24 <-bq_project_query(project_id, sql24)
tb25 <-bq_project_query(project_id, sql25)
tb26 <-bq_project_query(project_id, sql26)

print ("observation period built")

# Now remove from person table where there is no observation period
# This happens where there is patient data but no actual records 
# or there is patient data but no dob 

sql26a <-paste(' delete from ' ,targetdb,'.person where person_id
not in (select person_id from ', targetdb, ' . observation_period)', sep = "")

tb26a <-bq_project_query(project_id, sql26a) 

print ("invalid people removed")

[1] "Temp valid dates built"
[1] "observation period built"
[1] "invalid people removed"

In [52]:
# As the tables are all fdm ready we can just copy them into the FDM space
# once we've dropped them - if they exist ! 
# So drop loop next 

#start drop them first
for(i in 1:nrow(table)) 
{
# for-loop over columns
    #print(paste0("Table: ", table[[i, 1]]))
    temp_sql_query  <-paste('drop table if exists ',targetdb,'.', table[[i, 1]] ,';' , sep = "") 
    temp_queried_table <- bq_project_query(project_id, temp_sql_query)
    #temp_table <- bq_table_download(temp_queried_table)
    #print(temp_sql_query)
    #print(paste0("done ", temp_table[[i, 1]]))
    #cat("\n")
}
print('Done - user tables removed')

[1] "Done - user tables removed"

In [53]:
#Now build them 
for(i in 1:nrow(table)) 
{
# for-loop over columns
    #print(paste0("Table: ", table[[i, 1]]))
    temp_sql_query  <-paste('create table ',targetdb,'.',table[[i, 1]] ,' as select src.* except(digest) from ' ,sourcedb,'.',table[[i, 1]],' src 
    , ',targetdb,'.observation_period obs where cast(src.person_id as int64)  = obs.person_id 
    and src.',table[[i, 1]],'_end_date <= obs.observation_period_end_date  
    and src.',table[[i, 1]],'_start_date >= obs.observation_period_start_date', sep = "")
    #print(temp_sql_query)
    temp_queried_table <- bq_project_query(project_id, temp_sql_query)
    #temp_table <- bq_table_download(temp_queried_table)
    #print(paste0("done ", temp_table[[i, 1]]))
    #cat("\n")
}
print('Done - user tables built ')

#But this only works for those tables with a tbl_prefix containing person_id 
# so we need to manually mop up the ones that don't.

[1] "Done - user tables built "

In [54]:
#Section to build non tbl_ user tables 
#these are also ones with no person_id, proper dates, or derived tables  

#Your loop references these tables
#You run this to load the list of tables into the dataframe "table"

sql3 <-paste('select distinct table_name  from ' ,sourcedb,'.INFORMATION_SCHEMA.COLUMNS where table_name like \'cb%\' order by table_name ;', sep = "")
tb3 <- bq_project_query(project_id, sql3)

table2 <- bq_table_download(tb3)
#table2

#Drop them first
for(i in 1:nrow(table2)) 
{
# for-loop over columns
    #print(paste0("Table: ", table2[[i, 1]]))
    temp_sql_query  <-paste('drop table if exists ',targetdb,'.', table2[[i, 1]] ,';' , sep = "") 
    temp_queried_table <- bq_project_query(project_id, temp_sql_query)
    #temp_table <- bq_table_download(temp_queried_table)
    #print(temp_sql_query)
    #print(paste0("done ", temp_table[[i, 1]]))
    #cat("\n")
}
print('Done dropping cb tables')

#Now build them 
for(i in 1:nrow(table2)) 
{
# for-loop over columns
    #print(paste0("Table: ", table2[[i, 1]]))
    temp_sql_query  <-paste('create table ',targetdb,'.',table2[[i, 1]] ,' as select src.* from ' ,sourcedb,'.',table2[[i, 1]],' src', sep = "")
    #print(temp_sql_query)
    temp_queried_table <- bq_project_query(project_id, temp_sql_query)
    #temp_table <- bq_table_download(temp_queried_table)
    #print(paste0("done ", temp_table[[i, 1]]))
    #cat("\n")
}

fred <-paste('Done building cb tables  ' ,Sys.time() + hours(1), sep = "")
print (fred)

#Section to build user tables with no person_id or derived tables  
#These are specifically referenced

[1] "Done dropping cb tables"
[1] "Done building cb tables  2023-04-04 09:41:13"

In [55]:
print ("starting visit builders")

#VISITBuilders
#These are added value scripts that build pseudo visit occurences tables. 
#Due to the variances of the source data it may not be possible to build generic
#visit occurrence builders.

#This is a temporary table to bring together all visit information that we may be interested in

sql62 <-paste(' drop table if exists ' ,targetdb,'.tmp_visit_builder', sep = "")
tb62 <-bq_project_query(project_id, sql62) 

#Make the tmp_visit_builder_table

sql2 <-paste('create table if not exists ' ,targetdb,'.tmp_visit_builder
( source_table string,
  source_table_identifier string,
  person_id int64,
  visit_description string,
 visitstartdate datetime,
 visitenddate datetime,
 visitlocation string,
 visitstartplace string,
 visitendplace string);', sep = "")
tb2 <- bq_project_query(project_id, sql2)
eric <- paste('temp visit builder table built' ,Sys.time() + hours(1), sep = "")
print (eric)

[1] "starting visit builders"
[1] "temp visit builder table built2023-04-04 09:41:18"

In [56]:
#So push into a tmp visit builder table the person_id, Event_date, 
## You need to so this for each source table manually now !

#1) tbl_SUS_Calderdale_APC_CM_20170618_To_20220731

sql63 <-paste(' insert into ' ,targetdb,'.tmp_visit_builder
select "tbl_APC_CM" as source_table,
pbr_spell_id as source_identifier,
src.person_id,
"Admitted Care" as description,
tbl_SUS_Calderdale_APC_CM_20170618_To_20220731_start_date as start_date,
tbl_SUS_Calderdale_APC_CM_20170618_To_20220731_end_date as end_date,
"Calderdale Royal" as location,
ward_code_at_episode_start_date as start_place,
ward_code_at_episode_end_date as end_place
FROM ' ,targetdb,'.tbl_SUS_Calderdale_APC_CM_20170618_To_20220731 src
  , ' ,targetdb,'.person c
  , ' ,targetdb,'.observation_period obs
  where src.person_id = c.person_id
  and c.person_id = obs.person_id
  and src.tbl_SUS_Calderdale_APC_CM_20170618_To_20220731_end_date <= obs.observation_period_end_date
  and src.tbl_SUS_Calderdale_APC_CM_20170618_To_20220731_start_date >= obs.observation_period_start_date', sep = "")

tb63 <- bq_project_query(project_id, sql63)

eric <- paste('APC_CM built',Sys.time() + hours(1), sep = "")
print (eric)

[1] "APC_CM built2023-04-04 09:41:46"

In [60]:
#cb_SUS_Calderdale_APC_CM_CCMDS_20170728_To_20220726
#Needs sorting to include actual person_id
sql64 <-paste(' insert into ' ,targetdb,'.tmp_visit_builder
SELECT "cb_APC_CM_CCMDS", 
generated_record_id,
src.person_id ,
null,
cb_SUS_Calderdale_APC_CM_CCMDS_20170728_To_20220726_start_date,
cb_SUS_Calderdale_APC_CM_CCMDS_20170728_To_20220726_end_date,
null,
null,
null
FROM ' ,targetdb,'.cb_SUS_Calderdale_APC_CM_CCMDS_20170728_To_20220726 src
  , ' ,targetdb,'.person c
  , ' ,targetdb,'.observation_period obs
  where src.person_id   = c.person_id
  and c.person_id = obs.person_id
 and src.cb_SUS_Calderdale_APC_CM_CCMDS_20170728_To_20220726_end_date <= obs.observation_period_end_date
 and src.cb_SUS_Calderdale_APC_CM_CCMDS_20170728_To_20220726_start_date >= obs.observation_period_start_date', sep = "")
tb64 <- bq_project_query(project_id, sql64)

eric <- paste('cb_SUS_Calderdale_APC_CM_CCMDS_20170728_To_20220726',Sys.time() + hours(1), sep = "")
print (eric)

[1] "cb_SUS_Calderdale_APC_CM_CCMDS_20170728_To_202207262023-04-04 09:43:23"

In [61]:
#tbl_SUS_Calderdale_EC_Backward_Compatible_20170701_To_20220731

sql65 <-paste(' insert into ' ,targetdb,'.tmp_visit_builder
select 
"tbl_EC Backward" as source_table,
generated_record_identifier as source_identifier,
src.person_id,
"Accident and Emergency" as description,
tbl_SUS_Calderdale_EC_Backward_Compatible_20170701_To_20220731_start_date as start_date,
tbl_SUS_Calderdale_EC_Backward_Compatible_20170701_To_20220731_end_date as end_date,
site_code_of_treatment as location,
null as start_place,
null as end_place
FROM ' ,targetdb,'.tbl_SUS_Calderdale_EC_Backward_Compatible_20170701_To_20220731 src
  , ' ,targetdb,'.person c
  , ' ,targetdb,'.observation_period obs
  where cast(src.person_id as int64)  = c.person_id
  and c.person_id = obs.person_id
  and src.tbl_SUS_Calderdale_EC_Backward_Compatible_20170701_To_20220731_end_date <= obs.observation_period_end_date
  and src.tbl_SUS_Calderdale_EC_Backward_Compatible_20170701_To_20220731_start_date >= obs.observation_period_start_date', sep = "")
tb65 <- bq_project_query(project_id, sql65)

print("tbl_SUS_Calderdale_EC_Backward_Compatible_20170701_To_20220731 built")

[1] "tbl_SUS_Calderdale_EC_Backward_Compatible_20170701_To_20220731 built"

In [62]:
#tbl_SUS_Calderdale_Outpatient_20180401_To_20220731

sql66 <-paste(' insert into ' ,targetdb,'.tmp_visit_builder
SELECT "tbl_Outpatient" as source_table,
generated_record_identifier as source_identifier,
src.person_id,
null as description,
tbl_SUS_Calderdale_Outpatient_20180401_To_20220731_start_date as start_date,
tbl_SUS_Calderdale_Outpatient_20180401_To_20220731_end_date as end_date,
site_code_of_treatment as location,
clinic_code as start_place,
clinic_code as end_place 
FROM ' ,targetdb,'.tbl_SUS_Calderdale_Outpatient_20180401_To_20220731 src
  , ' ,targetdb,'.person c
  , ' ,targetdb,'.observation_period obs
  where cast(src.person_id as int64)  = c.person_id
  and c.person_id = obs.person_id
  and src.tbl_SUS_Calderdale_Outpatient_20180401_To_20220731_end_date <= obs.observation_period_end_date
  and src.tbl_SUS_Calderdale_Outpatient_20180401_To_20220731_start_date >= obs.observation_period_start_date', sep = "")
tb66 <- bq_project_query(project_id, sql66)

print("tbl_SUS_Calderdale_Outpatient_20180401_To_20220731")

[1] "tbl_SUS_Calderdale_Outpatient_20180401_To_20220731"

In [63]:
#Qapp_Calderdale_FDM_Visit_Occurrences_ALL


#amended to sql <-paste(' insert everything into the occurrences table 

sql84 <-paste(' truncate table ' ,targetdb,'.visit_occurrence ', sep = "")
tb84 <- bq_project_query(project_id, sql84)

sql85 <-paste(' insert into ' ,targetdb,'.visit_occurrence 
(      person_id
      ,visit_occurrence_id
      ,table
      ,clinicaldataid -- the actual rowidentifier from the source table 
      ,rowid
      ,visitstartdate
      ,visitstartdatetime
      ,visitenddate
      ,visitenddatetime
      ,visitstartplace
      ,visitendplace
      ,visitlocation
      ,care_site_id
      ,visitprovider
      ,provider_id
      ,visitdesc
      ,visit_source_concept_id
)
select distinct person_id
      ,FARM_FINGERPRINT(person_id || source_table_identifier)     as visit_occurrence_id
      ,source_table
      ,source_table_identifier  as clinicaldataid 
      ,source_table_identifier  as rowid
      ,cast(visitstartdate as date) as visitstartdate
      ,visitstartdate  as visitstartdatetime
      ,cast(visitenddate as date)  as visitenddate
      ,visitenddate as visitenddatetime
      ,visitstartplace as visitstartplace
      ,visitendplace  as visitendplace
      ,visitlocation  as visitlocation
      ,null  as care_site_id
      ,"null" as visitprovider
      ,null as provider_id
      ,visit_description as visitdesc
      ,38004693 as visit_source_concept_id
   from ' ,targetdb,'.tmp_visit_builder vb' , sep = "")

tb85 <- bq_project_query(project_id, sql85)

print ("visit occurrence  built")

[1] "visit occurrence  built"

In [64]:
sql90 <-paste('drop table if exists ',targetdb,'.tmp_persons;', sep = "")
tb90 <-bq_project_query(project_id, sql90)

sql91 <-paste('drop table if exists ',targetdb,'.tmp_Eventdates;', sep = "")
tb91 <-bq_project_query(project_id, sql91)

sql92 <-paste('drop table if exists ',targetdb,'.tmp_EventdatesValid;', sep = "")
tb92 <-bq_project_query(project_id, sql92)

print("temp tables dropped")

[1] "temp tables dropped"

In [65]:

fred <-paste('FDM Build of',targetdb,'finished')
print (fred)

[1] "FDM Build of yhcr-prd-phm-bia-core.CB_FDM_SUS_Calderdale_V1 finished"